<ul class="countries-list">
    {{#each this}}
    <li class="countries-list__item"><span class="country-name">{{this.name}}</span><img src="{{this.flag}}" alt="flag"
            width="40" height="30"></li>
    {{/each}}
</ul>